<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Test-Observation1-Ios.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B03FAEB2D36646600FE2DE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B03FB002D36646700FE2DE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B03FB0A2D36646700FE2DE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
